
/******** MODIFICATION CSS SUR BOOTSTRAP/Agency *********/

/***************************/
/***** SECTION ACCUEIL *****/
/***************************/

header {
	background-image: url("../img/header-bg1.jpg");
	min-height: 1200px; /*pour voir plus mon image...*/
}

.btn-xl.quiz {
    margin-top: 300px;
}

.navbar-default .navbar-brand {
    font-size: 3em;
    transition: all 0.3s ease 0s;
}

.navbar-default .nav li a {
    font-weight: 800;
    letter-spacing: 2px;
}

#myAvatar {

        width: 60px;
        height: 60px;
        border-radius: 100px;
}
.dropdown-menu {
    background-color: #222;
}

/*#intro-parag {
	color: #482A0A;
}*/

/***************************/
/*** SECTION INSCRIPTION ***/
/***************************/

#inscription {
	background-image: url("../img/VeryGoodTripMapMonde.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.monBtn { 
	padding: 10px;
}

.lienInscription {
    color: #fff;
}

/***************************/
/*** SECTION DESTINATION ***/
/***************************/

/* Deuxième image timeline, attention doit avoir la classe "second" */
.timeline-image.second {
	margin-top: 20%;
}


/***************************/
/***** SECTION CONTACT *****/
/***************************/

/* personnalisation de la couleur de texte avec ajout "contact" */
.section-subheading.text-muted.contact {
    color: #fec503;
}

label {
	color: #fff;
}




/**************************/

/*.js-scrollTo.retour{
	
}*/