.navbar-default .navbar-brand {
    font-size: 3em;
    transition: all 0.3s ease 0s;
}

.navbar-default .nav li a {
    font-weight: 800;
    letter-spacing: 2px;
}

/*#intro-parag {
	color: #482A0A;
}*/


.navbar-default {
    background-color: #222;
}

#myAvatar {

        width: 60px;
        height: 60px;
        border-radius: 100px;
}
.dropdown-menu {
    background-color: #222;
}

.btn-xl {
    letter-spacing: 2px;
    font-size: 14px;
    padding: 10px 20px;
}

section {
    padding: 200px 0;
}

#mainSection {
    /*background: url('../img/tour_du_monde.png');*/
    background: url('../img/photos_souvenirsB.png');
    background-position: 3% 55%;
    background-repeat: no-repeat;
}

/**************************/
/** CONTENU AP CAROUSSEL **/
/**************************/

/*CSS propre au carousel*/
.carousel-page {
    width: 100%;
    height: 330px;
    color: white;
}

#descript {
    text-align: justify;
}

.content {
/*    display: table-cell;
    vertical-align: top;*/
    padding: 20px 50px;
    background: #5EB6DD;
    
}



.floatLeft{
    float: left;
}

.both{
    clear: both;
}



/**************************/
/********* FOOTER *********/
/**************************/



.retour {
    background-color: #fed136;
    bottom: 0;
    color: #fff;
    padding: 20px;
    position: fixed;
    right: 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

#back {
	color : #fff;
}
