
/******** MODIFICATION CSS SUR BOOTSTRAP/Agency *********/

/***************************/
/***** SECTION ACCUEIL *****/
/***************************/

header {
	background-image: url("../img/header-bg1.jpg");
	min-height: 1200px; /*pour voir plus mon image...*/
}

.btn-xl.quiz {
    margin-top: 300px;
}

.navbar-default .navbar-brand {
    font-size: 3em;
    transition: all 0.3s ease 0s;
}

.navbar-default .nav li a {
    font-weight: 800;
    letter-spacing: 2px;
}

#myAvatar {

        width: 60px;
        height: 60px;
        border-radius: 100px;
}
.dropdown-menu {
    background-color: #222;
}

#mainSection {
    padding-bottom: 0px;
}

/*#intro-parag {
	color: #482A0A;
}*/

/***************************/
/*** SECTION INSCRIPTION ***/
/***************************/

#inscription {
	background-image: url("../img/VeryGoodTripMapMonde_150.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.monBtn { 
	padding: 10px;
}

.lienInscription {
    color: #fff;
}

/***************************/
/*** SECTION DESTINATION ***/
/***************************/

/* Deuxième image timeline, attention doit avoir la classe "second" */
.timeline-image.second {
	margin-top: 20%;
}

@media (min-width:768px){ /* pour le côté responsive, je récupère mes contenus à la fois pair et impair en leur attribuant un nouveau padding */

	.timeline > li .timeline-panel {
    padding: 0 20px 20px 20px;
	}

	.timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px 20px;
	}
}


/***************************/
/***** SECTION CONTACT *****/
/***************************/

/* personnalisation de la couleur de texte avec ajout "contact" */
.section-subheading.text-muted.contact {
    color: #fec503;
}

label {
	color: #fff;
}

/**************************/
/********* FOOTER *********/
/**************************/

.retour {
    background-color: #fed136;
    bottom: 0;
    color: #fff;
    padding: 20px;
    position: fixed;
    right: 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

#back {
	color : #fff;
}

