 
    .adminIdTitle{
        width: 20px;
        text-align: center;
        
    }
    .adminRoleTitle{
        width: 50px;
        text-align: center;
       

    }
    .adminEmailTitle{
        width: 250px;
        text-align: center;
        
    }
    .adminKeyTitle{
        width: 100px;
        text-align: center;
        
    }
   
    .adminId{
        width: 20px;
        text-align: center;
        
    }
    .adminRole{
        width: 50px;
        text-align: center;
       

    }
    .adminEmail{
        width: 250px;
        text-align: center;
        }
    .adminKey{
        width: 100px;
        text-align: center;
        
    }

 
    