/***************************************/
/*Modification css sur Bootstrap/Agency*/
/***************************************/
header {
	background-image: url("../img/header-bg1.jpg");
	min-height: 1200px; /*pour voir plus mon image...*/
}

.btn-xl {
    margin-top: 300px;
}

.navbar-default .navbar-brand {
    font-size: 3em;
    transition: all 0.3s ease 0s;
}

.navbar-default .nav li a {
    font-weight: 800;
    letter-spacing: 2px;
}

#intro-parag {
	color: #482A0A;
}

/* Deuxième image timeline, attention doit avoir la classe "second" */
.timeline-image.second {
	margin-top: 20%;
}

#inscription {
	background-image: url("../img/VeryGoodTripMapMonde.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;


}

#inscription img {
	opacity: 0.2;
}